# FOLDERS
node_modules/
coverage/
dist/

# HIDDEN FILES
.DS_Store
.env
.vscode/

# DATABASE
ormconfig.json

# YARN
yarn-error.log

# ERROR LOGS
src/shared/errors/logs/*.txt

# PYTHON IGNORES
src/shared/utils/scraper/__pycache__
src/shared/utils/scraper/logs
src/shared/utils/scraper/.env
src/shared/utils/scraper/test.py
